#carousel{
    z-index: 1;
}

#head{
    z-index: 9998;
    position: fixed;
    margin:auto; 
    width:50%; 
    height:0px;
    left:50%; 
    margin-left:-25%;
    top: 0px;
    
   }

#gallery {
    text-align: center;
    margin-top:40px;
}

#text {
    margin-top: 50px;
}

#buttons {
    text-align:center;
}

#cop{
    text-align:center;
}

#currency {
    position: absolute;
    top: 25px;
    
    
}



